{{ ansible_managed | comment }}

[Unit]
Description=Prometheus consul Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart={{ consul_exporter_install_dir }}/consul_exporter {{ consul_exporter_systemd_options }}
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=consul_exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
